<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Добре Дошли В Баните</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" media="all" href="style/type/folks.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="style/js/scripts.js"></script>
  </head>
  <body>
    <div id="container"> 
      <!-- Begin Header Wrapper -->
      <div id="page-top">
        <div id="header-wrapper"> 
          <!-- Begin Header -->
          <div id="header">
            <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a></div>
            <!-- Logo --> 
            <!-- Begin Menu -->
            <div id="menu-wrapper">
              <div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                  <li><a href="index.html"><b>Начало</b></a></li>
                  <li><a href="sights.html"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html" class="selected"><b>Настаняване</b></a></li>
                
                </ul>
              </div>
            </div>
            <!-- End Menu --> 
          </div>
          <!-- End Header --> 
        </div>
      </div>
      <!-- End Header Wrapper --> 

      <!-- Begin Wrapper -->
      <div id="wrapper">
        <div class="tab-wrapper">
          <ul id="tab-menu">
            <li class="selected"><b>Хотели</b></li>
            <li><b>Семейни хотели</b></li>
          
          </ul>
          <div class="tab-content">
            <div class="tab show">
              <h3>Хотели</h3>
              <span>Ако ни дойдете на гости и престоят ви тук е по-дълъг от няколко часа, ще искате да отседнете някъде. Тук ви предлагаме списък и описание на хотелите, къщи и вили, в които бихте могли да си починете от пътя и да прекарате хубави моменти с родопската кухня, хумор и гостоприемство. </span>
              <br/>
              <br/>
              
              <div class="news"> 

                <!-- Begin News Navigation -->
                <div class="newslist">
                  <ul>
                    
                    <!-- Begin Entry Heading 1 -->
                    <li> 
                      <ul class="toggle">
                    <img src="style/images/art/rodopi_hotel.jpg" alt="" class="left" />
                      <h4 class="title"><b>Хотел к-с Родопа</b><span>3 Звезди</span></h4>
                      <p>Хотелски комплекс "Родопа" разполага с цялостно изграден оздравителен център, който работи целогодишно с отлични медицински специалисти и рехабилитатори. Предлагаме извършване на следните процедури - ЛФК, уреди, работещи с ниско, средно и високочестотни токове, магнитни процедури, парафин, тангенторна вана, лечебен масаж, сауна, парна баня, контрастен душ. <h2 class="trigger" style="text-align: right; font-size:14px; font-weight:bold">Виж още</h2> 
                      
                        <li class="togglebox" style="width: 525px;">

                          <p style="width: 100%;"><img src="http://bulrest.com/files/04-2012/ad3325/large_133496489632510047..jpg" class="left"/><b>Лечебни свойства на водата</b>
                            Можете да се възползвате от чудодейните лечебни свойства на минералната вода и в хотела. Една вана ще свали умората и ще ви разтовари. Областите на действие най-често се свързват със заболявания на опорно-двигателния апарат - артроза /шипове/ и всички видове артрити, със заболявания като дискови хернии, дископатии, неврити, невралгии, остеопороза, както и гастрити, язви, колити, камъни в жлъчните пътища и бъбреците. .</p><p style="width: 100%">Хотел Родопа
<hr/>
с. Баните, ул. Хан Аспарух 2
<br/>
03025 22 33Телефон:
<br/>
0887 99 33 24Мобилен:
0887 83 71 48Мобилен:</p>
                      </p>
                      </ul>
                    </li>
                    <!-- End Entry Heading 1 --> 

                    <!-- Begin Entry Heading 2 -->
                    <li>
                
                      <img src="style/images/art/bqlo_more_hotel.jpg" alt="" class="left" />
                      <h4 class="title"><b>Хотел Бяло Море</b><span>3 Звезди</span></h4>
                      <p>
               Хотел Бяло Море, Баните разполага с леглова база от 33 места.

ХОТЕЛ "БЯЛО МОРЕ" Е ОТКРИТ НА 1,04,2009 ГОД.,ХОТЕЛЪТ ПРЕДЛАГА 10 ДВОЙНИ СТАИ 3 АПАРТАМЕНТА И 2 СТУДИА .ИМАМЕ И НЕВЕРОЯТЕН СПА ЦЕНТЪР,КОЙТО СЕ ПОЛЗВА БЕЗПЛАТНО ОТ ГОСТИТЕ НА ХОТЕЛА.

НИЕ ПРЕДЛАГАМЕ ПРОМОЦИОНАЛНИ ПАКЕТНИ ЦЕНИ ЗА 5,7,10,12,15 ДНИ,ЦЕНАТА НА ПАКЕТА ВКЛЮЧВА ЗАКУСКА,ОБЯД,ВЕЧЕРЯ,САУНА ,ПАРНА БАНЯ И ДЖАКУЗИ.


                      </p>
                      
                    </li>
                    <!-- End Entry Heading 3 --> 
                    <li> <img src="style/images/art/vishnevo_hotel.jpg" alt="" class="left" />
                      <h4 class="title"><b>Екохотел Вишнево</b><span>3 Звезди</span></h4>
                      <p>Хотел Екохотел Вишнево, Баните разполага с леглова база от 44 места.
                        Екохотел "Вишнево" се намира в едноименното родопско село на 120 км от Бяло море през новия КПП Златоград.  </p>
                    </li>

                    <li><img src="style/images/art/chukovata_hotel.jpg" alt="" class="left" />
                      <h4 class="title"><b>Кючуковата къща</b><span>3 Звезди</span></h4>
                      <p>расивото Смолянско село Баните се намира дълбоко в пазвите на величествената Родопа планина, по поречието на река Малка Арда, на 750 метра надморска височина. Баните е известно с минералната... </p>
                    </li>
                    
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
              </div>
              <!-- End News Navigation --> 

            </div>




            <div class="tab">

              <div class="news"> 

                <!-- Begin News Navigation -->
                <div class="newslist">
                  <ul>
                    <!-- Begin Entry Heading 1 -->
                    <li>
                      <ul class="toggle"><a href="blog-single.html"><img src="style/images/art/marty_f_hotel.jpg" alt="" class="left" /></a>
                        <h4 class="title"><b>Семеен Хотел Марти</b><span>3 Звезди</span></h4>
                        <p>Добре дошли в с.Баните, райско кътче в Родопите. В селото ни блика минерален извор с лековита вода, която лекува заболявания на опорно-двигателният апарат, бъбречни, вътрешни и др. болести.                    
                        <h2 class="trigger" style="text-align: right; font-size:14px; font-weight:bold">Виж още</h2> 
                        <!-- Begin Toggle -->

                        <li class="togglebox" style="width: 525px;">

                          <h3>Описание </h3>
                          <p style="width: 100%;"><img src="style/images/art/marty_f_hotel.jpg" class="left"/>Семеен хотел Марти, Баните разполага с леглова база от 11 места.Добре дошли в с.Баните, райско кътче в Родопите. В селото ни блика минерален извор с лековита вода, която лекува заболявания на опорно-двигателният апарат, бъбречни, вътрешни и др. болести.</p><p>

                          <p style="width: 100%;"><img src="http://www.hotel-marty.com/external/gallery/photos/pic_106.JPG" class="right"/>Освен сънаториум в който се предлагат процедури, може да съчетаете почивката си, със слънчеви бани на открит плаж с два басейна и водна пързалка. Може да се разходите из прохладните еко пътеки от който може да се насладите на красивата природа със спиращи дъха гледки.
                          </p><p style="width: 100%;"><img src="http://www.hotel-marty.com/external/gallery/photos/pic_132.JPG" class="left">
                            Обека ни представлява четири етажна къща с двор, паркинг, място за отдих и почивка, камина, барбекю. Стаите се намират на третия етаж с тераси от които се разкрива чудесен изглед. Всяка стая е обурудвана с телевизор, кабелна телевизия, безжичен интернет, обурудвана кухня с два хладилника и всичко необходимо. Фитнес. Две бани с две тоалетни.
                          </p><p>
                            При наемане на целия апартамент цената е 45 лв. За повече информация <a href="http://www.hotel-marty.com">Хотел Марти</a>  </p>

                        </li>
                      </ul>
                      <!-- End Toggle -->
                      </p>
                    </li>
                    <!-- End Entry Heading 1 --> 

                    <!-- Begin Entry Heading 2 -->
                    <li>
                      <ul class="toggle">
                        <img src="style/images/art/white_house_F_hotel.jpg" alt="" class="left" />
                        <h4 class="title"><b>Семеен Хотел Бялата Къща</b><span>3 Звезди</span></h4>
                        <p >Здравно-възстановителен комплекс , който предлага четири пакета услуги : 1. Дебелариум (коригиране на телесното тегло) 2. Самовъзстановяване на човешкия организъм. Природолечение.Преодоляване...<h2 class="trigger" style="text-align: right; font-size:14px; font-weight:bold">Виж още</h2> 


                        <li class="togglebox" style="width: 525px;">

                          <h3>Описание </h3>
                          <p style="width: 100%;"><img src="http://hoteliinfo.com/cgi-bin/hoteli-Pic.fcgi?PROCNAME=wAdmProc12&DOCTYPE=ACCFIRM&DOCID=4006&DOCNUM=8&DOCDATA=1&RADIBASESSNKEY=29920" class="left"/> 
                            Здравен център за отслабване и въстановяване на човешкия организъм,чрез лечебно хранене,
                            природолечение и балнолечение Курса за въстановяване и лечение е 10 дни.
                            Хотелът разполага с 15 стаи и 3 апартамента - всички са със самостоятелни санитарни възли, кабелна телевизия и безжичен интернет.
                            Механа "Бялата къща" е с автентични родопски мотиви, където ще Ви предложат разнообразни национални и родопски ястия.
                          </p>
                        </li>
                        </p>
                      </ul>
                    </li>
                    <!-- Begin Entry Heading 2 -->
                    <li>
                      
                      <ul class="toggle">
                        <img src="http://i1.iop.bg/objects/thumbs/2887/001_1335619106.jpg" alt="" class="left" />
                        <h4 class="title"><b>Семеен хотел Саша</b><span>3 Звезди</span></h4>
                        <p >Семеен хотел Саша, Баните разполага с леглова база от 14 места.

                          Къщата се намира в близост до до балнеолечебен център с много добра гледка, <h2 class="trigger" style="text-align: right; font-size:14px; font-weight:bold">Виж още</h2> 


                        <li class="togglebox" style="width: 525px;">

                          <h3>Описание </h3>
                          <p style="width: 100%;"><img src="http://i1.iop.bg/objects/thumbs/2887/004_1335619121.jpg" class="left"/> Семеен хотел Саша се намира с. Баните област Смолян. Китно родопско селце, което е известно с много лечебен минерален извор,  също така има и една от най-развитите балнеолечебници, 3 открити басейна, водна пързалка, 2 плажа и 2 закрити басейна.

                            Ние ви предлагаме една спокойна почивка в природата където можете да се насладите както на чист въздух и приятни разходки из природата, така и на лечебни процедури и плаж.

                            Къщата разполага с 2 спални, 2 двойни стаи и 3 тройни стаи. Стаите разполагат с масивно луксозно обзавеждане, телевизор, санитарен възел, тераса с добър изглед и кухненски бокс. Намира се в близост до балнеолечебния център.

                            Също така има и обособена механа с камина с капацитет 18-20 човека, която е на разположение на гостите на хотела. 

                          <h5>За резервации и запитвания 0898766496 или 0896695453!</h5>


                          </p>
                        </li>
                        </p>
                      </ul>
                    </li>


                    <!-- End Entry Heading 3 --> 
                    <li> <a href="blog-single.html"><img src="style/images/art/keh_f_hotel.jpg" alt="" class="left" /></a>
                      <h4 class="title"><a href="blog-single.html"><b>Семеен хотел Кехайовата</b></a><span>3 Звезди</span></h4>
                      <p>Семеен хотел Кехайовата къща, Баните разполага с леглова база от 20 места.

                        На вашето внимание най-новата изцяло възрожденски стил къща в идеалния център на Баните.  </p>
                    </li>


                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
              </div>

              <h3>Къши за гости</h3>

            </div>
            
            <div class="tab">
              <h3>Photography</h3>
              <p><img src="style/images/art/portfolio9-th.jpg" alt="" class="right"/>Vestibulum at hendrerit ipsum. Fusce sit amet nibh velit, vel accumsan justo. Sed mi ligula, pellentesque varius pretium et, bibendum non metus. Vestibulum vitae libero tortor, eu ullamcorper urna. Duis aliquam risus eu orci tristique non dictum sem feugiat. Nullam leo nibh, iaculis ac commodo ut, elementum vel tellus. Nunc vehicula, mi non pharetra condimentum, magna tellus rutrum quam, sit amet ultricies enim ipsum vitae urna. Etiam ac arcu velit, in sagittis tortor. </p>
              <p> Aliquam augue tellus, accumsan ut eleifend vitae, vehicula sed nulla. Nam vel orci risus, in imperdiet turpis. Ut aliquam tortor vitae augue ultricies hendrerit. Vivamus vel gravida lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque elit tellus, eleifend ut fringilla quis, venenatis vel velit. Suspendisse quis interdum lorem.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- End Wrapper -->

      <div class="clearfix"></div>
      <div class="push"></div>
    </div>

    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 

    <script type="text/javascript">

      $(document).ready(function() {	
        //Get all the LI from the #tabMenu UL
        $('#tab-menu > li').click(function(){
          //remove the selected class from all LI    
          $('#tab-menu > li').removeClass('selected');
          //Reassign the LI
          $(this).addClass('selected');
          //Hide all the DIV in .tab-content
          $('.tab-content div.tab').slideUp('slow');
          //Look for the right DIV in boxBody according to the Navigation UL index, therefore, the arrangement is very important.
          $('.tab-content div.tab:eq(' + $('#tab-menu > li').index(this) + ')').slideDown('slow');
        }).mouseover(function() {
          //Add and remove class, Personally I dont think this is the right way to do it, anyone please suggest    
          $(this).addClass('mouseover');
          $(this).removeClass('mouseout');   
        }).mouseout(function() {
          //Add and remove class
          $(this).addClass('mouseout');
          $(this).removeClass('mouseover');    
        });
      });


      $(function() {
        var offset = $("#tab-menu").offset();
        var topPadding = 15;
        $(window).scroll(function() {
          if ($(window).scrollTop() > offset.top) {
            $("#tab-menu").stop().animate({
              marginTop: $(window).scrollTop() - offset.top + topPadding
            });
          } else {
            $("#tab-menu").stop().animate({
              marginTop: 0
            });
          };
        });
      });
    </script>
  </body>
</html>