<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Добре Дошли В Баните</title>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" media="all" href="style/type/folks.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/scripts.js"></script>
</head>
<body>
<div id="container"> 
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        
        <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a>
         </div>
         
        
        <!-- Logo --> 
       <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
             <ul>
                  <li><a href="index.html" class="selected"><b>Начало</b></a></li>
                  <li><a href="sights.html"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html"><b>Настаняване</b></a></li>
                
                </ul>
          </div>
        </div>
        <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 

  <!-- Begin Wrapper -->
  <div id="wrapper"> 

    <div class="content">
          <div class="tabbed-content">
               <div class="intro">
     <h1><b>Банитe: Най-истинската и най-кратката рецепта за дълголетие</b></h1>
    </div>
          
            <p>Красивото смолянско село Баните се намира дълбоко в пазвите на

величествената Родопа планина, по поречието на река Малка Арда, на 750 метра надморска височина. Разположено е между два областни центъра. Разстоянието от Кърджали е 62 км, от Смолян 45 км., от Пловдив - 110 км., а от София - 250 км. Баните е известно с минералната вода, чиято температура при извиране е 43° С и е единствена в България.

Според преданията топлият минерален извор датира ОТ РИМСКО ВРЕМЕ. Разкритите древни останки от баня свидетелстват, че и преди стотици години водата се е ползвала за лечение. Живописната планинска природа, термалният минерален извор, чистият и свеж въздух създават неповторима атмосфера в това планинско село. В последните 2-3 години то се превърна в притегателен център за туристите. </p>
            <ul class="tabs">
              <li><a href="#tab1">История</a></li>
              <li><a href="#tab2">Особености</a></li>
              <li><a href="#tab3">Транспорт</a></li>
              <li><a href="#tab4">Здравни услуги</a></li>
            </ul>
            <div class="tab_container">
              <div style="display: none;" id="tab1" class="tab_content">
                <h3>История</h3>
                <p><img src="style/images/art/history.jpg" class="left" />По сведения на Никола Дамянов-археолог, най-ранните археологически паметници в Банска община са регистрирани в м. Чукаря, землището на село Босилково. Там на 1254 м надморска височина през 1987 и 1988 смолянските археолози локализират и проучват най-старото скално светилище на траките в Средните Родопи. Откритите глинени култови идоли, съдчета и керамични фрагменти отнасят най-ранните следи от човешка дейност към втората половина на енеолита. В края на късната бронзовата епоха светилището е било оградено от зидове(обикновени натрупвания на ломен камък без определен порядък и спойка, едноредово или двуредово подредени големи камъни). Тракийското скално светилище на вр. Чукаря е обитавано и през ранно желязната епоха, късна желязната епоха и античната епоха (І-ІV в.).
Друго светилище специалистите на Смолянския исторически музей откриват в м. Хамбар (с.Загражден). На високия скален връх са намерени култови и други, предимно керамични материали, които свидетелствуват за битуване на светилището през късната бронзова епоха, ранната желязна епоха, късната желязна епоха. </p>
                <p> 
- За ранното и повсеместно тракийско присъствие свидетелствува крепостта на вр. Вешката (Чуката) край с. Треве и тракийските могилни некрополи в местностите Гьолгелика и Могилата (с. Давидково), м. Крушево дере (с. Босилково), м. Кулата (с. Загражден) и други. В банска община са регистрирани много антични селища, разположени пропорционално на цялата и територия. Точно датирани засега са селищата в м. Селището (с. Гълъбово), м. Лъга (с. Треве), м. Елата, Копаното имане и Даскалото (с. Давидково), м. Файдушка чука, Ташлъ борун (Равнишките) и Гаджев гроб(с. Стърница), м. Светълна, Братаница и Петков гроб (с. Загражден).
Сравнително най-подробна е археологическата карта на общината през Средновековието. За това свидетелствуват регистрираните десетки селища, некрополи, църковища и други. Почни няма днешно село на чието землище да не са регистрирани останки от средновековно селище и некропол.
Част от археологическото наследство в община Баните са и регистрираните християнски църкви: м. Костадин(с. Баните), м. Черквата (с. Гълъбово), м. Черквата (с. Давидково),м. Хорището (с. Босилково), м. Св. Неделя (с. Загражден), м. Клисе чаир (с. Рибен дол), м. Равна поляна (с. Стърница), м. Руснакица (с. Стърница) и други. </p>
              </div>
              <div style="display: none;" id="tab2" class="tab_content">
                <h3>Особености</h3>
                <p><img src="style/images/art/three.jpg" class="right" />
                  Климатът се характеризира с умерено прохладно лято и умерено студена, слънчева зима. Относително най-много са слънчевите и бездъждовни дни на годината. Мъглите са рядкост и не са характерни. Това е много важно, както за балнеоложкото и туристическо дело, така и за земеделската дейност. Слънцето въздухът, планинската свежест и природа тук са непроменливи и представляват уникален дар за човека.</p>

                <p>
Има постоянни и много богати водни източници.
Друг природен ресурс за общината са полезните изкопаеми.
Горите заемат най-голям дял от територията на общината-201 398 дка, от които с най-голямо представителство са иглолистните гори - 130 710 дка., 4 190 дка широколистни гори, смесени гори с малки територии, ловни стопанства - 5 328 дка.
Земеделските земи в общината заемат 85 756 дка, от които обработваеми земи са 33 589 дка.
- До Балканската война, населението от община Баните се е занимавало предимно със земеделие и скотовъдство, абаджийство, тъкачество и кираджийство. Днес трудоспособното население от общината е заето в сферата на селското(тютюн, картофи и фуражни култури) и горското стопанство, леката промишленост, туризма и обслужващата сфера. За своя собствена консумация населението произвежда месо, мляко, фасул, събира диворастящи плодове, гъби, билки и други. В селскостопанските дворове се отглеждат овце, говеда, кози, товарен и впрегатен добитък.
- В центъра на село Баните е открит топъл минерален извор, който според преданията датира от Римско време. Предполага се, че каптажа е изграден през ІІ и ІІІ в. от н.е. на десния бряг на река Малка Арда. Изградена е баня с два сводови басейна. На тази основа и други благоприятни дадености през 1979 е пусната в експлоатация Специализираната болница за рехабилитация в село Баните, която е от голямо значение за общината, състояща се от Балнеолечебница и Санаториум.

</p>
              </div>
              <div style="display: none;" id="tab3" class="tab_content">
                <h3>Транспорт</h3>
                <p>Разположението на община Баните дава възможност за достъп само с автомобилен транспорт. Общата дължина на вътрешната пътна мрежа е около 209 км., които са групирани в III клас /републиканска пътна мрежа/ - 82 км. и общински пътища - 127 км. Има пряка автобусна връзка със Смолян, Кърджали, Пловдив, Мадан, Хасково. </p>
                <p> До община Баните може да се достигне с автомобил от Смолян през Соколовци - Момчиловци – Славейно – Петково – Баните, от Пловдив през прохода Рожен - Соколовци – Момчиловци – Славейно -Петково - Баните, и по пътя Кърджали – Ардино – Баните, а през летния сезон по пътя Пловдив – Лъки – Белица – Загражден – Давидково - Баните.
</p>

              </div>
              <div style="display: none;" id="tab4" class="tab_content">
                <h3>Здравни услуги</h3>
                <p>На територията на община Баните са регистрирани 6 лекарски и 5 стоматологични практики, функционира и един частен лекарски кабинет. В общинския център се намира филиал на Центъра за спешна медицинска помощ – град Смолян и “Специализирани болници за рехабилитация НК” ЕАД, филиал Баните. Населението се обслужва от 2 аптеки - в с. Баните и с. Давидково и една дрогерия в с. Загражден.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  
  <!-- End Wrapper -->
  <div class="clearfix"></div>
  <div class="push"></div>
</div>

    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 
</body>
</html>