<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Забеежителности</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" media="all" href="style/type/folks.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="style/js/scripts.js"></script>
  </head>
  <body>
    <div id="container"> 
      <!-- Begin Header Wrapper -->
      <div id="page-top">
        <div id="header-wrapper"> 
          <!-- Begin Header -->
          <div id="header">
            <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a></div>
            <!-- Logo --> 
            <!-- Begin Menu -->
            <div id="menu-wrapper">
              <div id="smoothmenu1" class="ddsmoothmenu">
                  <ul>
                  <li><a href="index.html"><b>Начало</b></a></li>
                  <li><a href="sights.html" class="selected"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html"><b>Настаняване</b></a></li>
                
                </ul>
              </div>
            </div>
            <!-- End Menu --> 
          </div>
          <!-- End Header --> 
        </div>
      </div>
      <!-- End Header Wrapper --> 

      <!-- Begin Wrapper -->
      <div id="wrapper">
        <div class="content">
          <div id="about">

            <div class="one-fourth"> <a href="devil_bridge.html"><img src="style/images/art/8_1283786395.jpg" alt="" /></a>
              <a href="devil_bridge.html"> <h3>Дяволският мост</h3></a>
              <p>Дяволският мост (Шейтан кюприя-тур) се намира на територията на община Ардино, <a href="devil_bridge.html">...</a></p>
            </div>

            <div class="one-fourth"> <a href="source.html"><img src="style/images/art/iamgesbanite1.jpg" alt="" /></a>
              <a href="source.html"><h3>Термалният минерален извор</h3></a>
              <p>Термалният минерален извор е с дебит 17 л/сек. и температура 43оС, което предопределя <a href="devil_bridge.html"> ...</a></p>
            </div>

            <div class="one-fourth"> <a href="uhlowica.html"><img src="style/images/art/ulovica1.jpg" alt="" /></a>
              <a href="uhlowica.html"> <h3>Пещерата “Ухловица”</h3></a>
              <p>Един от подземните дворци на Родопите е пещерата “Ухловица”, намираща се на 3 км. североизточно от село Могилица.
                <a href="uhlowica.html">...</a></p>
            </div>

            <div class="one-fourth last"> <a href="waterfall.html"><img src="style/images/art/vodopad7.jpg" alt="" /></a>
              <a href="waterfall.html"><h3>Загражденски водопади</h3></a>
              <p>Село Загражден се намира в община Баните и е разположено на 1300м надморска височина <a href="waterfall.html"> ...</a></p>
            </div>

            <div class="one-fourth"> <a href="wood.html"><img src="style/images/art/wood1.jpg" alt="" /></a>
              <a href="wood.html"> <h3>Самотното Дърво</h3></a>
              <p>Един от подземните дворци на Родопите е пещерата “Ухловица”, намираща се на 3 км. североизточно от село Могилица.
                <a href="wood.html">...</a></p>
            </div>

            <div class="one-fourth"> <a href="freedom.html"><img src="style/images/art/freedom.jpg" alt="" /></a>
              <a href="freedom.html"> <h3>Връх Свобода</h3></a>
              <p>Върхът е наричан още Енихан баба и Момчил юнак. Местните вярват, че на високия 1920 метра връх са церят всякакви болежки и масово го посещават веднъж годишно за пречистване на духа и с лечебна цел. 
                <a href="freedom.html">...</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Wrapper -->

      <div class="clearfix"></div>
      <div class="push"></div>
    </div>

   
    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 
  </body>
</html>