<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Баните | Термален Извор</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" media="all" href="style/css/prettyPhoto.css" />
    <link rel="stylesheet" media="all" href="style/type/folks.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="style/js/quicksand.js"></script>
    <script type="text/javascript" src="style/js/portfolio.js"></script>
    <script type="text/javascript" src="style/js/scripts.js"></script>
    <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
  </head>  
  <body>
    <div id="container"> 
      <!-- Begin Header Wrapper -->
      <div id="page-top">
        <div id="header-wrapper"> 
          <!-- Begin Header -->
          <div id="header">
            <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a></div>
            <!-- Logo --> 
    <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
              <ul>
                  <li><a href="index.html"><b>Начало</b></a></li>
                  <li><a href="sights.html" class="selected"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html" class="selected">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html" ><b>Настаняване</b></a></li>
                
                </ul>
          </div>
        </div>
        <!-- End Menu --> 
          </div>
          <!-- End Header --> 
        </div>
      </div>
      <!-- End Header Wrapper --> 

      <!-- Begin Wrapper -->
      <div id="wrapper"> 

        <div id="post-wrapper">
          <div class="post">
                       <div class="meta">
              <a href="sights.html" class="jbutton jcarousel-prev-disabled jcarousel-prev-disabled-vertical"></a>
              <b style="font-size: 20px; margin-left: 25%;"> Вижте други Забележителности</b>
              <a id="newslist-next" class="jbutton" href="uhlowica.html"></a>
             
            </div>
            <h2 class="title"><h2>Термален Извор</h2>
            <div class="meta">

            </div>

              <p> <img src="style/images/art/banite1.jpg" alt="" class="left" /><b>Живописната планинска природа</b>, топлият минерален извор, умереноконтиненталният със средиземноморско влияние климат (температури през зимата около 0◦С, а през лятото до 35◦С ), чистият и свеж въздух, напоен с благоуханна смола и билки, спомагат село Баните да се равива като курортно селище с национално значение. Една от атракциите за курортистите в Баните през последните години е водната пързалка с минерална вода, изградена при открития плувен басейн, която дава добри възможности за летен отдих, както за възрастните , така и за най – малките жители и гости на общината.  </p>
            <div style="clear: both;"></div>
            <hr/><br/>
            <p><img src="style/images/art/water1.jpg" alt="" class="right" />            
            <h3> Лечебни свойства на водата</h3>

Можете да се възползвате от чудодейните лечебни свойства на минералната вода и в хотела. Една вана ще свали умората и ще ви разтовари. Областите на действие най-често се свързват със заболявания на опорно-двигателния апарат - артроза /шипове/ и всички видове артрити, със заболявания като дискови хернии, дископатии, неврити, невралгии, остеопороза, както и гастрити, язви, колити, камъни в жлъчните пътища и бъбре
            </p>
            <div style="clear: both;"></div>
            <hr/> <br/>
            <p><img src="style/images/art/water2.jpg" alt="" class="left" />
            <h3>Минералните извори в с. Баните действат противорадиационно </h3>
            Уникалното при водата в Баните е съдържанието на флуор в концентрация, която не се среща в други извори в страната. Флуорната съставка в комбинация със сулфатни аниони има противорадиационно действие и се препоръчва за пациенти след дози радиация или след натрупване на тежки метали в организма.
            Привлечени от радиопротективното действие на водата в Баните, досега в санаториума са пристигали неорганизирани туристи от Украйна, Литва, Латвия.
            </p>
            <div style="clear: both;"></div>

            <div class="top-border"></div>

        

          </div>
          <!-- End Description            -->

        </div>

        <!-- End Wrapper -->

        <div class="clearfix"></div>
        <div class="push"></div>
      </div>


    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 
      <script type="text/javascript">
        $(document).ready(function(){
          $("#gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'light_square',autoplay_slideshow: false});
			
          $("ul.grid img").hide()
          $("ul.grid img").each(function(i) {
            $(this).delay(i * 200).fadeIn();
          });
			
        });
      </script>
  </body>
</html>