<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Баните | Пещерата "Ухловица"</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" media="all" href="style/css/prettyPhoto.css" />
    <link rel="stylesheet" media="all" href="style/type/folks.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="style/js/quicksand.js"></script>
    <script type="text/javascript" src="style/js/portfolio.js"></script>
    <script type="text/javascript" src="style/js/scripts.js"></script>
    <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
  </head>  
  <body>
    <div id="container"> 
      <!-- Begin Header Wrapper -->
      <div id="page-top">
        <div id="header-wrapper"> 
          <!-- Begin Header -->
          <div id="header">
            <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a></div>
            <!-- Logo --> 
         <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
                  <li><a href="index.html"><b>Начало</b></a></li>
                  <li><a href="sights.html" class="selected"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html"><b>Настаняване</b></a></li>
                
                </ul>
              </li>
             
            </ul>
          </div>
        </div>
        <!-- End Menu --> 
          </div>
          <!-- End Header --> 
        </div>
      </div>
      <!-- End Header Wrapper --> 

      <!-- Begin Wrapper -->
      <div id="wrapper"> 

        <div id="post-wrapper">
          <div class="post">           <div class="meta">
              <a href="sights.html" class="jbutton jcarousel-prev-disabled jcarousel-prev-disabled-vertical"></a>
              <b style="font-size: 20px; margin-left: 25%;"> Вижте други Забележителности</b>
             <a id="newslist-next" class="jbutton" href="source.html"></a>
             
            </div>
            
            <h2 class="title"><b>Пещерата "Ухловица"</b></h2>
            <div class="meta">

            </div>

            <p> <img src="style/images/art/ulovica1.jpg" alt="" class="left" />Един от подземните дворци на Родопите е пещерата “Ухловица”, намираща се на 3 км. североизточно от село Могилица. 
            <p>Тя е една от най – старите пещери в региона, с много красиви дендритни образувания, приличащи на морски корали. Природата в продължение на векове е създала една истинска феерия от коралити и хеликтити. </p><p>Пещерата завършва със 7 невероятно красиви езера, които рано на пролет се пълнят с вода. Към голямото езеро се спускат каменните струи на брилянтен летен водопад.</p> <p>Пещерата “Ухловица” се намира на 1040 метра над морска височина, а температурата вътре в нея през цялата година е 10 – 11 градуса. </p><p>Пътят до входа на пещерата е едно малко предизвикателство, което си струва да приемете, за да се докоснете до загадъчната красота на пещерата. </p></p>
            
            <div class="top-border"></div>

            <div id="portfolio"> 


              <!-- Begin Portfolio Elements -->
              <ul id="gallery" class="grid">

                <!-- Begin Image 1 -->
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica1.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica1.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
                <!-- Begin Image 1 -->
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica2.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica2.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
                <!-- Begin Image 1 -->
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica3.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica3.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica4.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica4.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica5.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica5.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica6.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica6.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
           
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica8.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica8.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
                <li data-id="id-1" class="photography"> <a href="style/images/art/ulovica9.jpg" rel="prettyPhoto[gallery]"> <img src="style/images/art/ulovica9.jpg" alt="" /></a> </li>
                <!-- End Image 1 -->
           
              </ul>
              <!-- End Portfolio Elements --> 

            </div>

          </div>
          <!-- End Description            -->

        </div>

        <!-- End Wrapper -->

        <div class="clearfix"></div>
        <div class="push"></div>
      </div>

      
    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 
      <script type="text/javascript">
        $(document).ready(function(){
          $("#gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'light_square',autoplay_slideshow: false});
			
          $("ul.grid img").hide()
          $("ul.grid img").each(function(i) {
            $(this).delay(i * 200).fadeIn();
          });
			
        });
      </script>
  </body>
</html>