<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Баните | Самотното Дърво</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" media="all" href="style/css/prettyPhoto.css" />
    <link rel="stylesheet" media="all" href="style/type/folks.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="style/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="style/js/quicksand.js"></script>
    <script type="text/javascript" src="style/js/portfolio.js"></script>
    <script type="text/javascript" src="style/js/scripts.js"></script>
    <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
  </head>  
  <body>
    <div id="container"> 
      <!-- Begin Header Wrapper -->
      <div id="page-top">
        <div id="header-wrapper"> 
          <!-- Begin Header -->
          <div id="header">
            <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Delphic" /></a></div>
            <!-- Logo --> 
         <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
             <ul>
                  <li><a href="index.html"><b>Начало</b></a></li>
                  <li><a href="sights.html" class="selected"><b>Забележителности</b></a>
                    <ul>
                      <li><a href="devil_bridge.html">Дявлоскят Мост</a></li>
                      <li><a href="source.html">Термалният минерален </a></li>
                      <li><a href="waterfall.html">Загражденски водопади</a></li>
                      <li><a href="wood.html">Самотното Дърво</a></li>
                      <li><a href="uhlowica.html">Пещерата "Ухловица"</a></li>
                      <li><a href="freedom.html">Връх "Свобода"</a></li>
                    </ul>
                  </li>
                  <li><a href="accommodation.html"><b>Настаняване</b></a></li>
                
                </ul>
          </div>
        </div>
        <!-- End Menu --> 
          </div>
          <!-- End Header --> 
        </div>
      </div>
      <!-- End Header Wrapper --> 

      <!-- Begin Wrapper -->
      <div id="wrapper"> 

        <div id="post-wrapper">
          <div class="post">
                       <div class="meta">
              <a href="sights.html" class="jbutton jcarousel-prev-disabled jcarousel-prev-disabled-vertical"></a>
              <b style="font-size: 20px; margin-left: 25%;"> Вижте други Забележителности</b>
              <a id="newslist-next" class="jbutton" href="waterfall.html"></a>
             
            </div>
            <h2 class="title"><b>Самотното Дърво</b></h2>
            <div class="meta">

            </div>

            <p> <img src="style/images/art/wood1.jpg" alt="" class="left" />Местността “Самотното дърво”. Намира се над село Баните в южна посока. Наречена е така заради едно самотно, но затова пък силно и на преклонна възраст дърво. То придава някакво странно очарование и магия. До него се стига по няколко пътеки, но има и маркиран туристически маршрут. Това е преход от 2 км по стръмен наклон, маркиран с указателни табели. Изградено е място за отдих с водоизточник. Панорамната гледка, която се разкрива от местността, обхваща не само общинския център (село Баните), но и околните села.  </p>
            <br/>
            <br/>
            <br/>
            <div class="top-border"></div>


            </div>

          </div>
          <!-- End Description            -->

        </div>

        <!-- End Wrapper -->

        <div class="clearfix"></div>
        <div class="push"></div>
      </div>

      <!-- Begin Footer -->
      <div id="footer-wrapper">
        <div id="footer">
          <div id="footer-content"> 


    <!-- Begin Footer -->
    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-content"> 

          <!-- Begin Copyright -->
          <div id="copyright">
            <p>© Copyright 2011 Баните | Туристически център</p>
          </div>
          <!-- End Copyright --> 

        </div>
      </div>
    </div>
    <!-- End Footer --> 
      <script type="text/javascript">
        $(document).ready(function(){
          $("#gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'light_square',autoplay_slideshow: false});
			
          $("ul.grid img").hide()
          $("ul.grid img").each(function(i) {
            $(this).delay(i * 200).fadeIn();
          });
			
        });
      </script>
  </body>
</html>